{% load static %}
<html>
<head>
    <title>
HOME
    </title>
    <style>
        h2{
            margin-top:150px;
            font-size:40px;
        }
        h1{
            font-size:60px;
        }
        input[type=submit]{
            background-color:#000000;
            color:white;
            cursor:pointer;
            padding: 16px 32px;
        }


    </style>
</head>

<body style="text-align:center ">
   <h2>welcome to </h2>
   <h1>House price prediction </h1>
   <form action ="predict">
       <input type="submit" value="START">
   </form>
</body>
</html>