<html>
<head>
    <meta charset="UTF-8">
    <title>Predict</title>



</head>

<body style="text-align:center">
<div class="main">
    <h1>Please enter the following values </h1>
    <form action="result">
        <div class="row">
            <div class="col-sm-4" style="background-color:Bisque;">
                <p> Avg.Area Income</p>
                <input type="text" name="n1">

            </div>
            <div class="col-sm-4" style="background-color:DarkSeaGreen;">
                <p> Avg.Area House</p>
                <input type="text" name="n2">

            </div>
            <div class="col-sm-4" style="background-color:LightPink;">
                <p> Avg.Area Number of rooms </p>
                <input type="text" name="n3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="background-color:Turquoise;">
                <p> Avg.Area Numbter of Bed room</p>
                <input type="text" name="n4">

            </div>
            <div class="col-sm-4" style="background-color:RosyBrown;">
                <p> Avg.Area population</p>
                <input type="text" name="n5">

            </div>
        </div>
        <div class="row">
            <input type="submit" value="PREDICT">
        </div>
    </form>
    <div class="row">
        <h2>{{result2}}</h2>
    </div>

</div>

</body>
</html>